/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * richardtutorialreversi implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

/********* You can start writing your CSS below this line: **********/
#board {
  width: 536px;
  height: 528px;
  background-image: url("img/board.jpg");
}

#board {
  width: 536px;
  height: 528px;
  background-image: url("img/board.jpg");
  position: relative;
}

.square {
  width: 62px;
  height: 62px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disc {
  position: relative;
  width: 54px;
  height: 54px;
  z-index: 3;
  transform-style: preserve-3d;
}

.disc .disc-faces {
  transform-style: preserve-3d;
}

.disc[data-color="000000"] .disc-faces {
  transform: rotateY(180deg);
}

.disc-face {
  position: absolute;
  width: 54px;
  height: 54px;
  background-image: url("img/tokens.png");
  background-size: auto 100%;
  backface-visibility: hidden;
}
.disc-face[data-side="white"] {
  background-position-x: 0%;
  transform: rotateY(0deg);
}

.disc-face[data-side="black"] {
  background-position-x: 100%;
  transform: rotateY(180deg);
}
